.proj_container {
  height: 300px;
  border: 1px solid green;
  padding: 5px;
}
.proj_sub_container {
  height: 90%;
  width: 80%;
  border: 1px solid red;
  padding: 5px;

  /* --- My solution ---*/
  margin: auto;

  display: flex;
  align-items: center;
}
.proj_content {
  background-color: #ccc;
}
